body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('11-w-Utopia_1.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #000000;
  }
  
  .login-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signin-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }

  label[for="remember-password"] {
    font-size: 0.8rem; /* Adjust the value as needed */
    display: inline-flex;
    align-items: center;
  }
  
  
  input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  p a {
    color: rgb(124, 152, 204);
    text-decoration: none;
    font-size: 10px;
  }

  p{
    font-size: 11px;
  }
  